@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');




/* Variables */
:root{
    --color-principal: #212a3e;
    --color-secundario: #774360;
    --color-terciario: #f1f6f9;
    --fontsize-titulos: 40px;
    --fontsize-parrafos: 20px;
}

/* Header */

.Portafolio{
    font-size: var(--fontsize-parrafos);
    background: var(--color-secundario);
    padding: 20px 20px;
}

